body {
    background-color: #6E958A;
    font-family: 'Open Sans', sans-serif;
}

.headerbox {
    z-index: 2;
    background-color: #7ca589;
    width: 100%;
    height: 75px;
    position: fixed;
    top:0px;
    left: 0px
    
}

.mainbox {
    width: 1000px;
    height: 1000px;
    background-color: #A1C4C6;
    position: absolute;
    top:  20%;
    left: 50%;
    margin-bottom: 100%;
    transform: translate(-50%);
}

p.credit {
    position:absolute;
    bottom: -10px;
    left: 50%;
    transform:translate(-50%);
}

.resizedTextbox {
    width: 100px;
    height: 20px;
    padding: 1px
}

h1.sitename {
    color: #CDE37F;
    left:100px;
    top: -40px;
    position:fixed;
    font-family: 'Playfair Display', serif;
    font-size: 55px;
}

h1.lycee {
    color: #CDE37F;
    left: 235px;
    top: 0px;
    position:fixed;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

h1 {
    position:relative;
    text-align:center;
}